<html>
    <H1>My Major League Baseball Hall of Fame Data Analysis Project</H1>
    <p>Welcome.</p>
    <br>
    <lo>
        <li>Explore what makes a player a hall of famer</li>
    </lo>
</html>

import seaborn as sns

<h2>Explore what makes a player a hall of famer</h2>

<h3>Hits</h3>

<h3>RBI</h3>

<h3>All Star Starts</h3>

<h3>All Start Games</h3>

<h3>Gold Glove</h3>

<h3>Silver Slugger</h3>

<h3>WAR</h3>

<h3>WAR Per Season</h3>

<h2>Case Review:  Omar Viquel</h2>

<h3>Verdict - Omar Viquel:  ??</h3>
 <table width="1000" border = 1>
  <tr>
    <th>Hits</th>
    <th>RBI</th>
    <th>All Star Starts</th>
    <th>All Star Games</th>
    <th>Gold Glove</th>
    <th>MVP</th>
    <th>Silver Slugger</th>
    <th>WAR</th>
    <th>WAR Per Season</th>  
  </tr>
  <tr>
    <td>2010</td>
    <td>951</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>  
  </tr>
</table>